.form__input {
  margin-bottom: 10px !important;
  width: 70vw;
}
.form__inputs:last-of-type {
  margin-bottom: 40px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.MuiFilledInput-root {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

@media only screen and (min-width: 842px) {
  .form__input {
    width: 50vw !important;
  }
}
