
  
  .menuButton {
    margin-right: "15px";
    color: "black";
  }
  .title {
    font-size: "1.38rem";
    color: "#5f6368";
    margin-left: "5px";
    cursor: "pointer";
  }
  .appbar {
    background-color: "white";
    color: "black";
  }
  .toolbar {
    display: "flex";
    justify-content: "space-between";
    align-items: "center";
  }
  .headerWrapper {
    display: "flex";
    align-items: "center";
  }
  .header__wrapper__right {
    display: "flex";
    justify-content: "space-between";
    align-items: "center";
  }
  .icon {
    padding-left:0.5% ;
    margin-right: "15px";
    color: "#5f6368";
    cursor: "pointer";
  }
  .img {
    padding-top: 5px;
    padding-right: 2px;
  }
  .link {
    text-decoration-line: none;
    color: 	#AAAAAA;
  }
